<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Ürünler</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
               <%- include('category.ejs') %>
            </div>
            <div class="col-8">
                <div class="row">
                    <% products.forEach(product=> { %>
                        <div class="col-md-3">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <span class="bage">Sale</span>
                                    <img class="img-responsive" src="images/shop/products/product-1.jpg"
                                        alt="product-img" />
                                    <div class="preview-meta">
                                        <ul>
                                            <li>
                                                <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a href="product-single.html">
                                            <%= product.URUNADI %>
                                        </a></h4>
                                    <p class="price">
                                        <%= product.SATISFIYATI %>
                                            <%= product.PARABIRIMI %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>

                <!-- Sayfalama UI -->
                <div class="d-flex justify-content-center pagination">
                    <% if (currentPage> 1) { %>
                        <a href="/?page=<%= currentPage - 1 %>" class="page-link rounded-start-4 ">&laquo; Önceki</a>
                        <% } %>

                            <% let startPage=Math.max(currentPage - 1, 1); %>
                                <% let endPage=Math.min(currentPage + 1, totalPages); %>

                                    <% if (startPage> 1) { %>
                                        <% } %>

                                            <% for(let i=startPage; i <=endPage; i++) { %>
                                                <a href="/?page=<%= i %>"
                                                    class="page-link <%= currentPage === i ? 'active ' : '' %>">
                                                    <%= i %>
                                                </a>
                                                <% } %>

                                                    <% if (endPage < totalPages) { %>
                                                        <% } %>

                                                            <% if (currentPage < totalPages) { %>
                                                                <a href="/?page=<%= currentPage + 1 %>"
                                                                    class="page-link rounded-end-4">Sonraki &raquo;</a>
                                                                <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Sağa ve sola oklar için sayfa değiştirme işlevi
    function changePage(page) {
        window.location.href = `/?page=${page}`;
    }
</script>